<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="SelectedProject" value="1"/>
    <add key="BaseUrl" value="https://gitlab.example.com"/>

    <!--https://docs.gitlab.com/ee/api/oauth2.html-->
    <add key="ApplicationID" value="0dde6443405c062f44a3e3a617a61600084889a6a3452e1b58f0fbe1cfde492d"/>
    <add key="Secret" value="72f16575aee09086924ba349882516a11d9053ebf52164b3208487482090a7ab"/>
    <add key="CallbackUrl" value="http://localhost:60131/GitLabMilestones/CallbackUrl.aspx"/>
    <!--Scopes=api-->
    
    <add key="AuthorizeUrl" value="/oauth/authorize?client_id={0}&amp;redirect_uri={1}&amp;response_type=code&amp;state={2}&amp;scope=api"/>
    <add key="TockenUrl" value="/oauth/token?client_id={0}&amp;client_secret={1}&amp;code={2}&amp;grant_type=authorization_code&amp;redirect_uri={3}"/>
    
    <add key="ProjectUrl" value="/api/v4/projects/{0}"/>
    <add key="MilestoneUrl" value="/api/v4/projects/{0}/milestones"/>
    <add key="IssuesUrl" value="/api/v4/projects/{0}/milestones/{1}/issues?state=closed"/>    
    <add key="MarkdownUrl" value="/api/v4/markdown"/>    
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>